site_name: Ana_Su's NoteBook
site_description: 生生不息
repo_name: Ana_Su/notes
repo_url: https://github.com/AnaSuuuu/notes

nav:
  - Home: 
    - index.md  
  
  - Math & Physcics: 
    - math/index.md

    - Concrete Math:
      - math/concrete_math/index.md 
      - Recurrent Problems: math/concrete_math/chap1.md
      - Sums: math/concrete_math/chap2.md
      - Integer Functions: math/concrete_math/chap3.md
      - Number Theory: math/concrete_math/chap4.md
      - Binomial Coefficients: math/concrete_math/chap5.md
    
#    - 微积分:
#      - math/calculus/index.md
#      - 多元函数的极限和连续性: math/calculus/chap1.md
#      - 随机变量及其概率分布: math/calculus/chap2.md
#      - 重积分: math/calculus/chap3.md
#      - 第一型曲线积分与曲面积分: math/calculus/chap4.md
#      - 第二型曲线积分和曲面积分: math/calculus/chap5.md
#      - 无穷级数: math/calculus/chap6.md
#      - 常微分方程: math/calculus/chap7.md
    
#    - 线性代数:
#      - math/linear_algebra/index.md
#      - 矩阵的运算与初等变换: math/linear_algebra/chap1.md
#      - 方阵的行列式: math/linear_algebra/chap2.md
#      - 可逆矩阵: math/linear_algebra/chap3.md
#      - 线性方程组和向量组的线性相关性: math/linear_algebra/chap4.md
#      - 方阵的特征值，特征向量与相似化简: math/linear_algebra/chap5.md
#      - 二次型与对称矩阵: math/linear_algebra/chap6.md
      
#    - 离散数学: 
#      - math/discrete_math/index.md
#      - 命题逻辑: math/discrete_math/chap1.md
#      - 一阶逻辑: math/discrete_math/chap2.md
#      - 集合的基本概念和运算: math/discrete_math/chap3.md
#      - 二元关系与函数: math/discrete_math/chap4.md
#      - 图的基本概念: math/discrete_math/chap5.md
#      - 特殊的图: math/discrete_math/chap6.md
#      - 树: math/discrete_math/chap7.md
    
    - 复变函数: 
      - math/complex_analysis/index.md
      - 复数与复变函数: math/complex_analysis/chap1.md
      - 解析函数: math/complex_analysis/chap2.md
      - 复变函数的积分: math/complex_analysis/chap3.md
      - 级数: math/complex_analysis/chap4.md
      - 留数: math/complex_analysis/chap5.md
      - 傅里叶变换: math/complex_analysis/chap6.md
      - 拉普拉斯变换: math/complex_analysis/chap7.md
    

    - 概率论:
      - math/probability/index.md
      - 随机事件及其概率论: math/probability/chap1.md
      - 随机变量及其概率分布: math/probability/chap2.md
      - 多维随机变量及其概率分布: math/probability/chap3.md
      - 随机变量数字特征: math/probability/chap4.md
      - 大数定律及中心极限定理: math/probability/chap5.md
      - 样本及样本函数的分布: math/probability/chap6.md
      - 参数估计: math/probability/chap7.md
      - 假设检验: math/probability/chap8.md
    
    - Analysis:
      - math/analysis/index.md
      - Analysis I:
        - math/analysis/chap1.md
      - Analysis II:
        - math/analysis/chap1.md

    - Electromagnetic Field Theory:
      - math/electromagnetic-field-theory/index.md
      - Analysis I:
        - math/electromagnetic-field-theory/chap1.md
      - Analysis II:
        - math/electromagnetic-field-theory/chap2.md

#    - 大学物理I:
#      - math/physics_I/index.md
#      - 刚体的定轴转动: math/physics_I/chap3.md
#      - 热力学基础: math/physics_I/chap6.md
#      - 静电场: math/physics_I/chap7.md
#      - 稳恒磁场: math/physics_I/chap8.md
#      - 电磁感应与麦克斯韦方程组: math/physics_I/chap9.md

#    - 大学物理II:
#      - 振动: math/physics_II/chap1.md
#      - 机械波: math/physics_II/chap2.md
#      - 电磁波: math/physics_II/chap3.md
#      - 几何光学成像原理: math/physics_II/chap4.md
#      - 光的干涉: math/physics_II/chap5.md
#      - 光的衍射: math/physics_II/chap6.md
#      - 光的偏振: math/physics_II/chap7.md
#      - 相对论基础: math/physics_II/chap8.md
#      - 波粒二象性: math/physics_II/chap9.md
#      - 量子力学基础: math/physics_II/chap10.md

  - EE:
    - ee/index.md
    
  - Robotics:
    - Robot Dynamics and Control:
      - Kinematics: robotics/RDnC/topic1.md
      - Dynamics: robotics/RDnC/topic2.md
      - Linear Control: robotics/RDnC/topic3.md
      - Nonlinear Control: robotics/RDnC/topic4.md

#    - 电路分析:
#      - ee/circuit_analysis/index.md
#      - 电路模型和电路定律: ee/circuit_analysis/chap1.md
#      - 直流电阻电路的等效变换分析: ee/circuit_analysis/chap2.md
#      - 直流电阻电路的一般分析: ee/circuit_analysis/chap3.md
#      - 电路定理: ee/circuit_analysis/chap4.md
#      - 一阶直流动态电路时域分析: ee/circuit_analysis/chap5.md
#      - 相量法: ee/circuit_analysis/chap6.md
#      - 正弦稳态电路的分析: ee/circuit_analysis/chap7.md
#      - 含有耦合电感的电路: ee/circuit_analysis/chap8.md
#      - 三相电路: ee/circuit_analysis/chap9.md
    
#    - 信号与系统:
#      - 概论: ee/signals-and-systems/chap1.md
#      - 连续系统的时域分析: ee/signals-and-systems/chap2.md
#      - 傅里叶变换: ee/signals-and-systems/chap3.md
#      - 拉普拉斯变换: ee/signals-and-systems/chap4.md
#      - 离散系统的时域分析: ee/signals-and-systems/chap5.md
#      - 离散系统的 z 变换: ee/signals-and-systems/chap6.md
    
#    - 模拟电子技术基础:
#      - 二极管: ee/analog-circuit-design/chap1.md
#      - 三极管: ee/analog-circuit-design/chap2.md
#      - 场效应管: ee/analog-circuit-design/chap3.md
#      - 负反馈放大电路: ee/analog-circuit-design/chap4.md
#      - 集成运算放大电路: ee/analog-circuit-design/chap5.md
#      - 功率放大电路: ee/analog-circuit-design/chap6.md
#      - 直流稳压电源: ee/analog-circuit-design/chap7.md
  
  - CS:
    - cs/index.md
    - CS61A:
      - Building Abstractions with Functions: cs/cs61a/topic1.md
      - Building Abstractions with Data: cs/cs61a/topic2.md

  - YSYX:
    - ysyx/index.md
    - Timeline: ysyx/timeline.md
 
  - ACM:
    - acm/index.md
    - Template:
      - Datestructure: acm/template/ds/datastructure.md
      - Graph: acm/template/graph/graph.md
      - String: acm/template/string/string.md
      - Math: acm/template/math/math.md
      - Geometry: acm/template/geometry/geometry.md
      - Misc: acm/template/others/misc.md
#       - Math:
#         - Number-Theory1: acm/algorithm/math/number-theory/topic1.md
#         - Number-Theory2: acm/algorithm/math/number-theory/topic2.md
#         - Poly: acm/algorithm/math/poly/topic1.md
#         - Game-Theory: acm/algorithm/math/game-theory/topic1.md
#       - Graph:
#         - Graph3: acm/algorithm/graph/topic3.md
        # - Geometry:
        # - acm/algorithm/geometry/topic1.md
#       - Others:
#         - how to generate random numbers: acm/algorithm/others/random.md
    - Algorithm:
      - acm/idea/index.md
      - 常规套路: acm/algorithm/regular.md
      - 小清新思维 && 构造: acm/algorithm/mind.md
      - 数据结构: 
        - 基础数据结构: acm/algorithm/ds/topic1.md
        - 进阶数据结构: acm/algorithm/ds/topic2.md
      - 图论: 
        - 基础图论: acm/algorithm/graph/topic1.md
        - 网络流相关: acm/algorithm/graph/topic2.md
        - 进阶图论: acm/algorithm/graph/topic3.md
      - DP: 
        - 常规 DP: acm/algorithm/dp/topic1.md
        - DP 优化技巧: acm/algorithm/dp/topic2.md
      - 字符串: 
        - 基础字符串: acm/algorithm/string/topic1.md
        - 进阶字符串: acm/algorithm/string/topic2.md
      - 数学: 
        - 数论: acm/algorithm/math/topic1.md
        - 组合数学: acm/algorithm/math/topic2.md
        - 线性代数 && 博弈: acm/algorithm/math/topic3.md
      - 计算几何: 
        - 二维计算几何: acm/algorithm/geometry/topic1.md
        - 三维计算几何: acm/algorithm/geometry/topic2.md
      - 杂项: acm/algorithm/others/misc.md
    
    - CodeForces:
      - acm/cf/index.md
      - 1801 ~ 1850:
        - 1801 ~ 1810: acm/cf/cf1801.md
        - 1811 ~ 1820: acm/cf/cf1811.md
        - 1821 ~ 1830: acm/cf/cf1821.md
        - 1831 ~ 1840: acm/cf/cf1831.md
        - 1841 ~ 1850: acm/cf/cf1841.md
      - 1851 ~ 1900:
        - 1851 ~ 1860: acm/cf/cf1851.md
        - 1861 ~ 1870: acm/cf/cf1861.md
        - 1871 ~ 1980: acm/cf/cf1871.md
        - 1881 ~ 1980: acm/cf/cf1881.md
        - 1891 ~ 1900: acm/cf/cf1891.md
      - 1901 ~ 1950:
        - 1901 ~ 1910: acm/cf/cf1901.md
        - 1911 ~ 1920: acm/cf/cf1911.md
        - 1921 ~ 1930: acm/cf/cf1921.md
        - 1931 ~ 1940: acm/cf/cf1931.md
        - 1941 ~ 1950: acm/cf/cf1941.md
      - 1951 ~ 2000:
        - 1951 ~ 1960: acm/cf/cf1951.md
        - 1961 ~ 1970: acm/cf/cf1961.md
        - 1971 ~ 1980: acm/cf/cf1971.md
      - 2001 ~ 2050:
        - 2001 ~ 2010: acm/cf/cf2001.md
        - 2011 ~ 2020: acm/cf/cf2011.md
        - 2021 ~ 2030: acm/cf/cf2021.md
        - 2031 ~ 2040: acm/cf/cf2031.md
        

    - Atcoder:
      - acm/at/index.md
      - ABC: 
        - 351 ~ 360: acm/at/abc351.md
        - 371 ~ 380: acm/at/abc371.md
      - ARC:
        - 101 ~ 110: acm/at/arc101.md
        - 111 ~ 120: acm/at/arc111.md
        - 171 ~ 180: acm/at/arc171.md

    - XCPC region:
      - 2023:
        - ICPC 2023 Hong Kong: acm/xcpc/2023/icpc-hk.md
      - 2024:
        - The 2024 CCPC Online Contest: acm/xcpc/2024/ccpc-ol.md
        - The 2024 ICPC Asia East Continent Online Contest (I): acm/xcpc/2024/icpc-ol1.md
    
    
    - HDU:
      - 2023 summer:
        - Day1: acm/hdu/2023/contest01.md
        - Day2: acm/hdu/2023/contest02.md
      - 2024 summer:
        - Day1: acm/hdu/2023/contest01.md
        - Day2: acm/hdu/2023/contest01.md
    - Nowcoder:
      - 2024 summer:
        - Day1: acm/nowcoder/2024/contest01.md
        - Day2: acm/nowcoder/2024/contest02.md
        - Day3: acm/nowcoder/2024/contest03.md
        - Day4: acm/nowcoder/2024/contest04.md
  
  - Others: 
    - others/index.md
    - Cpp:
      - The Basics: others/cpp/topic1.md
      - The C++ Library: others/cpp/topic2.md
      - Tools for Class Authors: others/cpp/topic2.md
      - Advanced Topics: others/cpp/topic2.md

theme:
  font: false
  name: material    
  language: 'en'
  favicon: images/favicon.png
  icon: 
    logo: material/notebook-outline
  features:
    - content.code.annotate
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - content.code.select
    - content.code.copy

  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      # primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      # primary: teal
      # accent: lime

markdown_extensions:
    - pymdownx.arithmatex:
          generic: true
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.tabbed:
        alternate_style: true
        combine_header_slug: true
    - toc:
        permalink: true
        toc_depth: 4
    - meta # 支持markdown博客文件头的元数据，比如标题
    - footnotes # 支持脚注
    - abbr
    - tables # 支持表格
    - pymdownx.snippets
    - admonition  # 支持提示块
    - pymdownx.details  # 提示块可折叠
    - pymdownx.superfences
    - attr_list 
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - md_in_html
    - def_list
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.inlinehilite # 支持行内语法高亮
    # - pymdownx.highlight: # 支持代码块语法高亮，！！！跟mermaid冲突
    #     linenums: true # 显示行号
    - pymdownx.superfences: # 可在列表等处嵌入块
        # make exceptions to highlighting of code:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:mermaid2.fence_mermaid


extra_javascript:
    - javascripts/katex.js 
    - https://cdn.tonycrane.cc/utils/katex.min.js

    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css
  - https://cdn.tonycrane.cc/utils/katex.min.css
  - https://gcore.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css
  
extra:
  social: # 社交账号
    - icon: fontawesome/brands/github
      link: https://github.com/AnaSuuuu
        #   name: Fusyong on Github
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/Ana_Suuuu
        #   name: Fusyong on Twitter
    # disqus: XXXXXXXX # disqus评论插件

copyright: |
  &copy; 2023 <a href="https://github.com/AnaSuuuu"  target="_blank" rel="noopener">Ana Su</a>
